@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    background: rgb(0, 110, 255);
    font: normal 15pt arial;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295) ;
}

div{
    text-align: center;
    padding: 8px;
}
footer{
    text-align: center;
    padding-top: 5px;
    color: white;
    font-style: italic;

}